{% extends 'base.html.twig' %}
    {% block stylesheets %}
        <style>
            body {
                background-image:url("{{ asset('bg/termes.jpg') }}");
            }
        </style>
    {% endblock %}
{% block body %}
    <div class="card" style="padding: 30px">
        <h1 class="text-center">Les termes et les conditions</h1>
        <p>En vigueur à compter du 16 Avril 2020</p>
    <ol>
        <li><a href="#intro" class="text-info">Introduction</a></li>
        <li><a href="#mc" class="text-info">Modifications des Contrats</a></li>
        <li><a href="#dau" class="text-info">Directives applicables aux utilisateurs</a></li>
        <li><a href="#contenu" class="text-info">Votre contenu</a></li>
        <li><a href="#lim" class="text-info">Limitation de responsabilité</a></li>
        <li><a href="#indm" class="text-info">Indemnité</a></li>
        <li><a href="#div" class="text-info">Divisibilité</a></li>
        <li><a href="#contact" class="text-info">Nous contacter</a></li>


    </ol>
    <p>
        Bonjour et bienvenue dans les Conditions générales d'utilisation de INSATClub.com. Les Conditions que vous voyez ci-dessous sont importantes, car elles :<p>
    <ul>
        <li>décrivent vos droits légaux sur INSATClubs</li>
        <li>décrivent les droits que vous nous concédez lorsque vous utilisez INSATClubs</li>
        <li>décrivent les règles que tout le monde doit suivre lors de l'utilisation de INSATClubs</li>
        <li>contiennent une renonciation à une action collective et comment résoudre des litiges par arbitrage.</li>
    </ul>
        <p>Veuillez lire attentivement les présentes Conditions, notre Politique de confidentialité ainsi que toute condition supplémentaire évoquée dans le présent document.<br>
        <br>
        C'est parti…
    </p>
    <h3 id="intro">1.Introduction</h3>
    <p> Merci d'avoir choisi INSATClubs. INSATClubs fournit des services personnalisés avec des fonctionnalités sociales et interactives pour gérer les événements de notre université INSAT.
        <br><br>
        Les présentes conditions générales d'utilisation du site Web écrites sur cette page Web géreront votre utilisation de notre site Web InsatClubs.
        <br><br>
        Ces conditions seront pleinement appliquées et affecteront votre utilisation de ce site Web. En utilisant ce site Web, vous avez accepté d'accepter toutes les modalités et conditions écrites ici. Vous ne devez pas utiliser ce site Web si vous n'êtes pas d'accord avec l'une de ces conditions générales standard du site Web.
    </p>
    <h3 id="mc">2.Modifications des Contrats</h3>
    <p> Nous pouvons occasionnellement apporter des modifications aux Contrats pour des raisons valables, telles que l'amélioration des fonctions ou caractéristiques existantes ou l'ajout de nouvelles fonctions ou caractéristiques au Service, la mise en œuvre des progrès scientifiques et technologiques et des ajustements techniques raisonnables au Service, la garantie du fonctionnement ou de la sécurité du Service, et pour des raisons légales ou réglementaires. En cas de modification substantielle de ce Contrat, nous vous en informerons par le biais de notifications adaptées, par exemple, en affichant un avis visible ou en demandant votre accord dans INSATClubs ou en vous envoyant un e-mail. Dans certains cas, nous vous avertirons et la poursuite de votre utilisation du Service une fois les modifications apportées constituera une acceptation de ces modifications. Assurez-vous de lire attentivement ces avis. Si vous ne souhaitez pas poursuivre l'utilisation du Service aux termes de la nouvelle version des Contrats, vous pouvez résilier votre compte en nous contactant.
    </p>
    <h3 id="dau">3.Directives applicables aux utilisateurs</h3>
    <p>INSATClubs respecte les droits de propriété intellectuelle et s'attend à ce que les respectiez également. Nous avons mis en place quelques règles de base que vous devez suivre lorsque vous utilisez le service, afin de garantir que INSATClubs puisse être apprécié par tout le monde. Veuillez suivre ces règles et encourager les autres utilisateurs à faire de même. Ce qui suit n'est pas autorisé, quel que soit le motif :
    </p>
    <ul>
        <li>copier, redistribuer, reproduire, « ripper », enregistrer, transférer, exécuter ou afficher au public, diffuser, ou mettre à la disposition du public, toute partie du Service INSATClubs ou du Contenu, ou utiliser le Service  INSATClubs ou le Contenu de manière non expressément autorisée par les Contrats, ou la loi en vigueur, ou de toute autre manière violant les droits de propriété intellectuelle (tels que le droit d'auteur) du Service  INSATClubs ou du Contenu, ou toute partie de celui-ci .</li>
        <li>utiliser le Service  INSATClubs afin d'importer ou de copier tout fichier local que vous n'avez pas le droit d'importer ou de copier de cette manière.</li>
        <li>transférer des copies du Contenu mis en cache depuis un Appareil autorisé, vers un autre Appareil, par quelque moyen que ce soit.</li>
        <li>faire de la rétro-ingénierie, décompiler, désassembler, modifier ou créer des œuvres dérivées basées sur le Service  INSATClubs, le Contenu ou toute partie de celui-ci, à moins que cela ne soit autorisé par la loi. </li>
        <li>contourner toute technologie utilisée par  INSATClubs, ses concédants de licence, ou toute tierce partie pour protéger le Contenu ou le Service .</li>
        <li>vendre, louer, concéder en sous-licence, ou louer à bail toute partie du Service  INSATClubs ou le Contenu.</li>
        <li>contourner toute restriction territoriale appliquée à  INSATClubs ou ses concédants de licence.</li>
        <li>augmenter artificiellement le nombre de lectures, ou manipuler les Services (i) à l'aide d'un script ou autre processus automatisé ; (ii) en fournissant ou acceptant toute forme de compensation (financière ou autre), ou (iii) par tout autre moyen.</li>
        <li>contourner ou bloquer des publicités publiées sur le Service  INSATClubs, ou créer ou distribuer des outils conçus pour bloquer les publicités du Service  INSATClubs.</li>
        <li>fournir votre mot de passe à toute autre personne ou utiliser le nom d'utilisateur et mot de passe d'une autre personne.</li>
        <li>procéder au « crawling » (indexer) du Service  INSATClubs ou utiliser tout moyen automatisé (comprenant des bots, scrapers, et spiders) pour consulter, accéder ou recueillir des informations auprès de  INSATClubs ou du Service  INSATClubs .</li>
    </ul>
    <p>Veuillez respecter INSATClubs, les titulaires du Contenu, et les autres utilisateurs du Service INSATClubs. Ne vous engagez pas dans une activité, ne publiez aucun Contenu utilisateur, ou ne vous inscrivez pas ou n'utilisez pas de nom d'utilisateur qui est ou comporte un élément qui :</p>
    <ul>
        <li>est offensant, abusif, diffamatoire, pornographique, menaçant ou obscène.</li>
        <li>est illégal, ou destiné à promouvoir ou commettre un acte illégal de quelque nature que ce soit, comprenant, sans s'y limiter, les violations des droits de propriété intellectuelle de Spotify ou d'une tierce partie .</li>
        <li>comprend votre mot de passe ou comprend à dessein le mot de passe de tout autre utilisateur ou comprend intentionnellement les données de tierces parties, ou est destiné à solliciter ces données personnelles.</li>
        <li>comprend du contenu malveillant, tel qu'un maliciel, des chevaux de Troie ou virus, ou interfère autrement avec l'accès de tout utilisateur au Service.</li>
        <li>est destiné à harceler ou harcèle ou intimide les autres utilisateurs ;
            incarne ou représente abusivement votre affiliation avec un autre utilisateur, personne ou entité, ou est autrement frauduleux, faux ou trompeur .</li>
        <li>implique la transmission de courriers électroniques de masse non sollicités ou autres formes de spam (« spam »), courrier indésirable, chaînes de lettres, ou similaires</li>
        <li>implique des activités commerciales ou de vente, telles que la publicité, les promotions, concours, loteries, ou systèmes pyramidaux, qui ne sont pas expressément autorisés par INSATClubs ;
            propose des liens vers, des références à ou promeut autrement des produits ou services commerciaux, sauf si expressément autorisé par INSATClubs.</li>
        <li>interfère avec ou interrompt d'une quelconque manière le Service INSATClubs, falsifie, viole ou tente de sonder, scanner ou tester les vulnérabilités du Service ou les systèmes informatiques, le réseau, les règles d'utilisation de INSATClubs, ou l'un quelconque des composants de sécurité, mesures d'authentification ou autres mesures de protection de INSATClubs, applicables au Service, au Contenu ou à toute partie de ceux-ci</li>
        <li>est en conflit avec les Contrats, tel que déterminé par INSATClubs.</li>
        <p>Vous reconnaissez et convenez que la publication de tout Contenu utilisateur qui entre en violation avec les restrictions peut entraîner la résiliation ou suspension immédiate de votre compte INSATClubs. Vous convenez également que INSATClubs peut reprendre votre nom d'utilisateur s'il est raisonnable pour nous de le faire, notamment si vous avez violé les Contrats.<br>
            Soyez attentif à la manière dont vous utilisez le Service INSATClubs et à ce que vous partagez. Le Service INSATClubs comprend des fonctionnalités sociales et interactives, dont la capacité de publier du Contenu utilisateur, de partager du contenu, et de rendre publiques certaines informations vous concernant. N'oubliez pas que les informations partagées ou publiquement disponibles peuvent être utilisées par les autres utilisateurs de INSATClubs ou sur le Web. Veuillez donc utiliser INSATClubs avec prudence et être attentif aux paramètres de votre compte. Spotify n'est en aucun cas responsable dans vos choix de publier des documents ou informations sur le Service.<br>
            Votre mot de passe protège votre compte utilisateur et il vous incombe de préserver la confidentialité et la sécurité de votre mot de passe. Vous comprenez que vous êtes responsable de toute utilisation de votre nom d'utilisateur et mot de passe sur le Service. Si votre nom d'utilisateur ou mot de passe est volé ou perdu, ou si vous pensez que votre compte a fait l'objet d'un accès non autorisé par des tierces parties, veuillez nous le faire savoir immédiatement et modifier votre mot de passe dès que possible.
        </p>
    </ul>

    <h3 id="contenu">4.Votre contenu</h3>
    <p>  Dans les présentes conditions générales d'utilisation du site Web, «votre contenu» désigne tout texte, image ou autre matériel que vous choisissez d'afficher sur ce site Web. En affichant votre contenu, vous accordez à INSATClub une licence non exclusive, irrévocable et sous licence mondiale pour l'utiliser, la reproduire, l'adapter, la publier, la traduire et la distribuer sur tous les supports.<br>
        Votre contenu doit être le vôtre et ne doit pas empiéter sur les droits de tiers. INSATClubs se réserve le droit de supprimer tout contenu de ce site Web à tout moment sans préavis.
        Vous êtes seul responsable de la totalité du Contenu utilisateur que vous publiez. INSATClubs n'est pas responsable du Contenu utilisateur et ne valide aucune opinion exprimée dans tout Contenu utilisateur. VOUS CONVENEZ QUE SI QUELQU'UN ENTAME DES POURSUITES À L'ENCONTRE DE SPOTIFY CONCERNANT LE CONTENU UTILISATEUR QUE VOUS PUBLIEZ, ALORS, DANS LA LIMITE AUTORISÉE PAR LA LÉGISLATION LOCALE, VOUS INDEMNISEREZ ET TIENDREZ INSATCLUBS HORS DE CAUSE CONTRE TOUS LES DOMMAGES ET INTÉRÊTS, PERTES ET DÉPENSES DE TOUTE NATURE (Y COMPRIS LES FRAIS RAISONNABLES D'AVOCAT) RÉSULTANT DE CETTE POURSUITE.
    </p>
    <h3 id="lim">5.Limitation de responsabilité</h3>
    <p> INSATClubs, ni aucun de ses dirigeants, administrateurs et employés, ne sera en aucun cas tenu responsable de tout ce qui découle de ou de quelque manière que ce soit lié à votre utilisation de ce site Web, que cette responsabilité soit contractuelle. INSATClubs, y compris ses dirigeants, administrateurs et employés, ne sera pas tenu responsable de toute responsabilité indirecte, consécutive ou spéciale découlant de ou liée de quelque manière que ce soit à votre utilisation de ce site Web.
    </p>
    <h3 id="indm">6.Indemnité</h3>
    <p style="text-transform: uppercase">Par la présente, vous indemnisez dans toute la mesure INSATClubs contre et contre toute responsabilité et / ou tous frais, coûts, demandes, causes d'action, dommages et dépenses résultant de quelque manière que ce soit de votre violation de l'une des dispositions des présentes Conditions.
    </p>
    <h3 id="div">7.Divisibilité</h3>
    <p> Si une disposition de ces Conditions s'avère invalide en vertu d'une loi applicable, ces dispositions seront supprimées sans affecter les autres dispositions des présentes.
    </p>
    <h3 id="contact">8.Nous contacter</h3>
   <p> Si vous avez des questions concernant les Services ou les Contrats, veuillez contacter le Service client de INSATClubs en consultant la section À propos de notre site Web.<br>
       <br>Merci d'avoir lu nos Conditions générales. Nous espérons que vous apprécierez INSATClubs !</p>
    </div>
{% endblock %}